# Config
config.toml

# GENERAL
.DS_Store
Thumbs.db
.env
.env.*
!.env.example
*.db
*.pem
*.key
data/
bin/

# Build outputs
dist/
build/
.out/
.next/

# Cache
.cache/
.parcel-cache/
.eslintcache
.vite/

# Coverage
coverage/

# Cargo
/target/
**/target/

# Rustfmt & Clippy
.rustfmt.toml
cargo.lock

# Rust analyzer
.rust-analyzer/

.vscode/
!.vscode/extensions.json
!.vscode/settings.json

.idea/
*.swp
*.swo

# TESTING
jest-cache/
playwright-report/
test-results/

# DEVELOPEMENT SSL
**/localhost-key.pem
**/localhost.pem

# additional
.agent/
.cursor

# Used for testing
examples/
tmp/
go.mod
go.sum
main.go
